<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Exploration-with-Pandas" data-toc-modified-id="Data-Exploration-with-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Exploration with Pandas</a></span><ul class="toc-item"><li><span><a href="#Edit-the-data" data-toc-modified-id="Edit-the-data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Edit the data</a></span><ul class="toc-item"><li><span><a href="#Remove-rows" data-toc-modified-id="Remove-rows-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Remove rows</a></span></li><li><span><a href="#Remove-columns" data-toc-modified-id="Remove-columns-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Remove columns</a></span></li><li><span><a href="#Append-rows" data-toc-modified-id="Append-rows-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Append rows</a></span></li><li><span><a href="#Adding-columns" data-toc-modified-id="Adding-columns-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Adding columns</a></span></li><li><span><a href="#The-apply-function" data-toc-modified-id="The-apply-function-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>The apply function</a></span></li></ul></li><li><span><a href="#Handling-missing-values" data-toc-modified-id="Handling-missing-values-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Handling missing values</a></span></li><li><span><a href="#Group-by" data-toc-modified-id="Group-by-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Group-by</a></span></li><li><span><a href="#Ex-2.2-A" data-toc-modified-id="Ex-2.2-A-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Ex 2.2 A</a></span></li><li><span><a href="#Concatenate-and-join" data-toc-modified-id="Concatenate-and-join-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Concatenate and join</a></span></li><li><span><a href="#Working-with-specific-data-types" data-toc-modified-id="Working-with-specific-data-types-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Working with specific data types</a></span><ul class="toc-item"><li><span><a href="#String-objects" data-toc-modified-id="String-objects-1.6.1"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>String objects</a></span></li><li><span><a href="#Time-objects" data-toc-modified-id="Time-objects-1.6.2"><span class="toc-item-num">1.6.2&nbsp;&nbsp;</span>Time objects</a></span></li></ul></li><li><span><a href="#Data-export" data-toc-modified-id="Data-export-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Data export</a></span></li><li><span><a href="#Styling" data-toc-modified-id="Styling-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Styling</a></span></li><li><span><a href="#Transpose" data-toc-modified-id="Transpose-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Transpose</a></span></li><li><span><a href="#Ex-2.2-B" data-toc-modified-id="Ex-2.2-B-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Ex 2.2 B</a></span></li><li><span><a href="#OPTIONAL" data-toc-modified-id="OPTIONAL-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>OPTIONAL</a></span></li><li><span><a href="#More-material:" data-toc-modified-id="More-material:-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>More material:</a></span></li></ul></li></ul></div>

# Data Exploration with Pandas

In [ ]:
## setup
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv ("data/adult.csv", na_values="?")

In [ ]:
df.head()

## Edit the data

In [ ]:
df2 = df[["age", "sex", "race"]].head()
df2

### Remove rows

In [ ]:
df2.drop([1,2], inplace=True, axis=0)
df2
# The axis argument is either 0 when it indicates rows and 1 when it is used to drop columns.
#axis : int or axis name. To drop labels from the rows (0 / ‘rows’)

### Remove columns

In [ ]:
df2.drop("age", axis=1, inplace=True)
df2.head()

# You can set inplace to True to delete the column without having to reassign the DataFrame.
#axis : int or axis name. To drop labels from the columns (1 / ‘columns’)

### Append rows

In [ ]:
# Append is deprecated: https://stackoverflow.com/questions/75956209/error-dataframe-object-has-no-attribute-append
# df2.append({"sex": "Male", "race" : "White"}, ignore_index=True)
# Note that here, the index gets filled up, but the new instances is added at the end.
# Append rows to the end of caller, returning a new object.
# ignore_index: If True, do not use the index labels.

In [ ]:
df2 = pd.concat([df2, pd.DataFrame([{"sex": "Male", "race" : "White"}])], ignore_index = True)

In [ ]:
df2

### Adding columns

In [ ]:
df["age"].head()

In [ ]:
decade = df["age"] // 10 * 10
decade.head()
#type(s)

In [ ]:
df ['age_group'] = decade
df.head()

In [ ]:
df ["is_white"] = df.race == "White"
df.head()

In [ ]:
df ["capital"] = ["capital-win" if x > 0 else "no-capital-win" for x in df ["capital-gain"]]
df.head()

In [ ]:
df["capital_status"] = ["capital-win" if win > 0 else "capital-loss" if loss > 0 else "neutral-capital"
                        for win, loss in df[["capital-gain", "capital-loss"]].itertuples(index=False)]

df.head()

### The apply function

Apply a function along an axis of the DataFrame. You can use .apply to send a single column to a function. This is useful when cleaning up data - converting formats, altering values etc. (http://jonathansoma.com/lede/foundations/classes/pandas%20columns%20and%20functions/apply-a-function-to-every-row-in-a-pandas-dataframe/)

In [ ]:
df2 = df[["age", "sex", "workclass"]]
df2.head(10)

In [ ]:
### We can also use apply on a single column:
def my_function (row):
    if row['workclass'] is np.NaN:
        return "Unknown"
    elif "State" in row['workclass']:
        return "official"
    else:
        return "other"

In [ ]:
my_function(df2.loc[0])

In [ ]:
#Apply a function along an axis of the DataFrame.
#Objects passed to the function are Series objects whose index
#is either the DataFrame’s index (axis=0) or the DataFrame’s columns (axis=1).

df2["my_val"] = df2.apply(my_function, axis=1)
df2.head()

In [ ]:
def my_function_2(row):
    if row["workclass"] is np.NaN:
        return "Unknown"
    if (row["age"] < 30) or ("State" in row["workclass"]):
        return "Young or official"
    elif (row["sex"] == "Male"):
        return "Male"
    else:
        return 'Unknown'

df2["my_val_2"] = df2.apply(my_function_2, axis = 1)
df2.head()

## Handling missing values

Useful reading: https://jakevdp.github.io/PythonDataScienceHandbook/03.04-missing-values.html

In [ ]:
## lets create a small artficial dataset
# missing data representation -- NaN (acronym for Not a Number) is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation
data = [[1, np.nan,3,4], [2, 3,4,np.nan], [np.nan,10,11,12], [4, 14,"b", 16], [5, 1,2,3]]
df2 = pd.DataFrame(data, columns=["i", "c1", "c2", "c3"])
#df2.dtype
df2

In [ ]:
df2.c3.sum() / len(df2)

In [ ]:
df2.dropna()

In [ ]:
df2.dropna(subset=["c3"])

In [ ]:
df2.dropna(axis=1)

In [ ]:
df2

In [ ]:
df2.fillna(-1)

In [ ]:
df2.c1.fillna(df2.c2)

In [ ]:
df2

In [ ]:
#{‘backfill’, ‘bfill’, ‘pad’, ‘ffill’, None}, default None
#Method to use for filling holes in reindexed Series
#pad / ffill: propagate last valid observation forward to next valid
#backfill / bfill: use NEXT valid observation to fill gap

df2.fillna(method="ffill")

In [ ]:
df2.fillna(method="bfill")

In [ ]:
# Lets go back to our main dataset:
# The count function counts only non-missing values:
df.count()

In [ ]:
len(df) - df.count()

In [ ]:
#show the respective instances:
df [df["workclass"].isnull()]

In [ ]:
df2 = df.dropna()
len(df2)

In [ ]:
len(df)

In [ ]:
df3 = df.fillna('')
df3.loc[20:30]

## Group-by

By “group by” we are referring to a process involving one or more of the following steps:

    - Splitting the data into groups based on some criteria.
    - Applying a function to each group independently.
    - Combining the results into a data structure.

More: https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [ ]:
df.head()

In [ ]:
df.head().groupby(["sex"])

In [ ]:
for name, group in df.head().groupby(["sex"]):
    print (name)
    print (group)
    print (type(group))

In [ ]:
number_df = df[['sex', 'age', 'education-num', 'capital-gain']]

In [ ]:
g = number_df.groupby(["sex"])
g.size()

In [ ]:
df["sex"].value_counts()

In [ ]:
g.mean()["age"]

In [ ]:
g.mean().loc["Male"]

We can also group by multiple attributes:

In [ ]:
number_df = df[['sex', 'race', 'age', 'education-num', 'capital-gain']]
g = number_df.groupby(["sex","race"]).mean()
g

In [ ]:
g.loc["Male"]

In [ ]:
g.loc["Male"].loc["White"]

In [ ]:
g = df.groupby(["sex","race", "education"]).size()
g

In [ ]:
#  Pivot a level of the (necessarily hierarchical) index labels,
# returning a DataFrame having a new level of column labels whose
#inner-most level consists of the pivoted index labels.

g.unstack()

In [ ]:
g.unstack (["race","sex"])

## Ex 1

Use Census data, aka, adult.csv

A. Show for each combination of sex and race, how many instances(people) are contained in the dataset

B. What is the mean age of men and women in this dataset?

C. Show for each combination of marital-Status and race, how many males/females over 40 years have a bachelor degree as their highest degree?

In [7]:
# %load "41_data_preprocessing_ex1.py"

## Concatenate and join

There several methods to bring data from different dataset together, most importantly *concat* and *merge*

In [ ]:
df1 = pd.DataFrame ([["Student 1", 2.0, 1.5],
                     ["Student 2", 3.0, 2.5],
                     ["Student 3", 1.5, 2.0],
                     ["Student 4", 1.0, 4.0]],columns = ["Student", "course_A", "course_B"])
df1

In [ ]:
df2 = pd.DataFrame ([["Student 5", 2.3, 2.5],
                     ["Student 6", 3.0, 1.0],
                     ["Student 7", 2.5, 2.0],
                     ["Student 8", 1.7, 3.5]],columns = ["Student", "course_A", "course_B"])
df2

In [ ]:
df_all = pd.concat ([df1,df2])
df_all

In [ ]:
df_all.reset_index(drop=True,inplace=True)
df_all

In [ ]:
df_ab = pd.concat([df1, df2], ignore_index=True)
df_ab

In [ ]:
df3 = pd.DataFrame ([["Student 1", 1.3],
                     ["Student 2", 2.3],
                     ["Student 5", 4.0],
                     ["Student 8", 1.5],
                     ["Student 10", 1.5]
                    ],columns = ["Student", "course_C"])
df3

In [ ]:
# by default, inner join is performed.
# use intersection of keys from both frames, similar to a SQL inner join;
# preserve the order of the left keys.

pd.merge (df_ab, df3, on="Student") #, how="inner"

This is called an "inner" join: only those rows occur that are present in both tables.

In [ ]:
#"Left Join"
# use only keys from left frame, similar to a SQL left outer join; preserve key order.
pd.merge (df_ab, df3, on="Student", how="left")

In [ ]:
#"Outer Join"
# use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
pd.merge (df_ab, df3, on="Student", how="outer")

In [ ]:
# Left and right key do not need to have the same column name
# left: use only keys from left frame, similar to a SQL left outer join; preserve key order.
# right: use only keys from right frame, similar to a SQL right outer join; preserve key order.
df4 = pd.DataFrame ([["Student 1", 1.3],
                     ["Student 2", 2.3],
                     ["Student 5", 4.0],
                     ["Student 6", 1.5],
                     ["Student 12", 1.5]
                    ],columns = ["Student_name", "course_D"])
df4

In [ ]:
df_ab

In [ ]:
df_abd = pd.merge (df_ab, df4, left_on="Student", right_on="Student_name", how="outer")
df_abd

In [ ]:
df_abd["Student"] = df_abd["Student"].fillna(df_abd["Student_name"])
df_abd

In [ ]:
df_abd.drop("Student_name", axis=1)

In [ ]:
# There can be more occurrences of a student in a table; then ALL combinations are formed.
df5 = pd.DataFrame ([["Student 1", 1.3],
                     ["Student 1", 2.3],
                     ["Student 2", 4.0],
                     ["Student 2", 1.5],
                     ["Student 2", 3.5]
                    ],columns = ["Student", "course_E"])
df5

In [ ]:
df1

In [ ]:
df_abe = pd.merge(df1,df5,how = "outer")
df_abe

In [ ]:
df_abe = df_abe.sort_values(["Student", "course_E"])
df_abe

In [ ]:
df_abe.drop_duplicates("Student")

#keep : {‘first’, ‘last’, False}, default ‘first’
#first : Drop duplicates except for the first occurrence. (default)
#last : Drop duplicates except for the last occurrence.
#False : Drop all duplicates.

## Working with specific data types

### String objects

In [ ]:
df.head()

In [ ]:
df ['marital-status'].unique()

In [ ]:
df ['marital-status'].value_counts()

In [ ]:
# Select those with a specific value
df [df ['marital-status'] == "Never-married"].head()

In [ ]:
# Try and select rows, in which the marital-status string begins with a certain value

df ['marital-status'].str.startswith ("Married")

In [ ]:
df [df ['marital-status'].str.startswith ("Married")]

### Time objects

In [ ]:
df = pd.read_csv ("data/weather.csv")

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df["time"].head()

In [ ]:
df["time"] = pd.to_datetime(df.time)
df.head()

In [ ]:
df.dtypes

In [ ]:
type(df.time)

In [ ]:
df["weekday"] = df.time.dt.day_name()
df.head()

In [ ]:
df["hours"] = df.time.dt.hour
df.head()

In [ ]:
df["time_from_last_measurement"] = df.time.diff()
df.head()

In [ ]:
df["reformatted_date"] = df.time.dt.strftime("%y-%m-%d")
df

In [ ]:
df.dtypes

## Data export

In [ ]:
# for storing / reloading for later: use pickle
import pickle
pickle.dump(df, open("my_df.p", "wb" ))

In [ ]:
df_loaded = pickle.load(open("my_df.p", "rb" ))
df_loaded.head()

In [ ]:
df_exp = df[df.hours == 11]
df_exp = df[["reformatted_date", "weekday", "status", "temperature"]]
df_exp.head()

In [ ]:
df_exp.to_csv("weather_export.csv")
# df.to_csv('weather_export.csv', sep='\t', encoding='utf-8')

In [ ]:
df_exp.to_html("weather_export.html")

In [ ]:
df_exp.to_latex()

## Styling

In [ ]:
df = pd.DataFrame(np.random.randint(0,100,size=(10, 4)), columns=list('ABCD'))

In [ ]:
df

In [ ]:
df.style.background_gradient()

In [ ]:
df.style.highlight_max()

In [ ]:
df.style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})

## Transpose

In [ ]:
h=df.head(5)
h

In [ ]:
h.T

In [ ]:
h.loc[3]

In [ ]:
h.T[3]

## OPTIONAL

In [ ]:
df = pd.read_csv('data/adult.csv')

In [ ]:
df2 = df[["age", "sex", "workclass"]]
df2.head(10)

In [ ]:
### Apply is also often used in combination with a lambda function:
df2["my_val_3"] = df2.apply (lambda x: "Young" if x.age < 30 else x.sex, axis=1)
df2.head(20)

In [ ]:
df[df ['marital-status'].str.match("Married-(.*)-spouse")].sample(4)

## More material:

* The official pandas documentation: https://pandas.pydata.org/
* A tutorial by Brandon Rhodes from PyCon 2015:
https://www.youtube.com/watch?v=5JnMutdy6Fw
 with material and exercises
https://github.com/brandon-rhodes/pycon-pandas-tutorial

* Daniel Chan: Introduction to pandas: https://www.youtube.com/watch?v=dye7rDktJ2E